ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: false

PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: false